target
.nrepl*
.lein-env
bower_components
.DS_Store
node_modules
*.jar
.vagrant
infrastructure/ansible/files/env
infrastructure/ansible/prod
logs
projects.edn
.shadow-cljs
resources/public/js
resources/public/stylesheets
.cpcache
out