target
.nrepl*
.lein-env
bower_components
.DS_Store
node_modules
*.jar
.vagrant
infrastructure/ansible/files/env
infrastructure/ansible/prod
logs
projects.edn
.shadow-cljs
public/js/main.js
public/js/manifest.edn
public/js/cljs-runtime
public/stylesheets/*
.cpcache
out