;; shadow-cljs configuration
{:deps   true
 :builds {:dev {:target     :browser
                :output-dir "resources/public/js"
                :asset-path "/js"
                :compiler-options {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}

                :modules
                {:main ;; <- becomes public/js/main.js
                 {:entries [dashboard-example.frontend.core]}}

                ;; start a development http server on http://localhost:8020
                :devtools
                {:http-root "public"
                 :http-port 3010
                 :preloads  [day8.re-frame-10x.preload]
                 :before-load dashboard-example.frontend.core/stop
                 :after-load  dashboard-example.frontend.core/-main}}}}
