{:duct.profile/base
 {:duct.core/project-ns dashboard-example

  ;;-----------
  ;; middleware
  ;;-----------
  :duct.router/cascading
  [#ig/ref :dashboard-example.backend.endpoint/static]

  :dashboard-example.backend.endpoint/static
  {}
  
  :duct.middleware.web/defaults
  {:session {:store #ig/ref :sweet-tooth.endpoint.datomic/session-store}
   :static  {:resources ^:append ["public"]}}

  :sweet-tooth.endpoint.datomic/session-store
  {:db #ig/ref :sweet-tooth.endpoint.datomic/connection}

  :duct.server.http/jetty
  {:port #duct/env ["HTTP_SERVER_PORT" Int :or 3000]}

  ;; datomic
  :sweet-tooth.endpoint.datomic/connection
  {:uri      #duct/env ["DB_URI" Str :or "datomic:mem://de"]
   :schema   ["db/base/user-session.edn"]
   :data     []
   :create?  true
   :migrate? true}}
 
 :duct.profile/dev #duct/include "dev.edn"

 :duct.module/logging  {}
 :duct.module.web/api  {}
 :duct.module.web/site {}
 
 :sweet-tooth.endpoint/middleware {}

 ;; :sweet-tooth.endpoint/group-routes
 ;; {[:dashboard-example.backend.endpoint/query
 ;;   :dashboard-example.backend.endpoint/report]
 ;;  {:db #ig/ref :sweet-tooth.endpoint/datomic}}

 }
