{:dashboard-example/base-report
 {:txes [[{:db/ident :report/name
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc ""
           :db.install/_attribute :db.part/db}

          {:db/ident :report/title
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "movie title"
           :db.install/_attribute :db.part/db}

          {:db/ident :report/budget-2013-min
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db.install/_attribute :db.part/db}

          {:db/ident :report/budget-2013-max
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db.install/_attribute :db.part/db}

          {:db/ident :report/domgross-2013-min
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db.install/_attribute :db.part/db}

          {:db/ident :report/domgross-2013-max
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db.install/_attribute :db.part/db}

          {:db/ident :report/intgross-2013-min
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db.install/_attribute :db.part/db}

          {:db/ident :report/intgross-2013-max
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db.install/_attribute :db.part/db}

          {:db/ident :report/clean-test
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/keyword
           :db/cardinality :db.cardinality/many
           :db.install/_attribute :db.part/db}

          {:db/ident :report/binary
           :db/id #db/id[:db.part/db]
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db.install/_attribute :db.part/db}]]}}
